<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Codigo equivalente en Java: Malabarista concursante1 = new Malabarista(); -->
	<bean id="solei" class="concursantes.Malabarista">
		<constructor-arg value="10" />
	</bean>

	<bean id="sonetoSorJuana" class="concursantes.Soneto" />
	<bean id="soleiRecitador" class="concursantes.MalabaristaRecitador">
		<constructor-arg value="15" />
		<constructor-arg ref="sonetoSorJuana" />
	</bean>
	
	
	<!-- Codigo Musico -->
    <bean id="piano" class="concursantes.Piano"/>

	<bean id="jasonPiano" class="concursantes.Musico">
		<property name="cancion" value="Noche de Paz" />
		<property name="instrumento" ref="piano"></property>
	</bean>

	<!-- cambio de instrumento -->
	<bean id="jasonSax" class="concursantes.Musico">
		<property name="cancion" value="Equinox" /> <!-- bean interno (inner bean) -->
		<property name="instrumento">
			<bean class="concursantes.Saxofon" />
		</property>
	</bean>
	
	
</beans>
